# Node
node_modules/
dist/
.eslintcache

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
poetry.lock
.pytest_cache/

# Databases
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db
